
:root {
    --violet: #B6A4FF;
    --green: #2AE881;
}

* {
  margin: 0;
}

.container {
  height: 512px;
  width: 512px;
  background-color: var(--green);
  position: relative;
}

.leftTriangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: var(--violet);
  position: absolute;
  inset: 0;
}

